<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta th:include="include/header::header" th:remove="tag"/>
<title>Insert title here</title>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/js/freeboard.js}"></script>
</head>
<body>
<h1>Free Board</h1>
<table>
	<tr>
		<th>No</th>
		<th>Title</th>
		<th>Author</th>
		<th>Date</th>
		<th>Hit</th>
	</tr>
	<tr th:each="row:${list}">
		<td><span th:text="${row.seq}"></span></td>
		<!-- <td><a th:href="@{view.do(seq=${row.seq})}"><span th:text="${row.title}"></span></a></td> -->
		<td><span th:text="${row.title}"></span></td>
		<td><span th:text="${row.id}"></span></td>
		<td><span th:text="${#dates.format(row.post_date, 'yyyy-mm-dd HH:mm:ss')}"></span></td>
		<td><span th:text="${row.readcount}"></span></td>
	</tr>
</table>
<h1 th:text="${chk}"></h1><!-- 컨트롤러가 보낸 데이터를 잘 받았는지 확인 -->
<!-- 
코드 분석
th:each="row:${list}" list이름으로 넘어온 값을 row라는 변수로 사용하겠다는 내용
th:text="${row.xxx}" row변수가 가지고 있는 xxx를 텍스트로 출력하겠다는 내용
th:href="@{view.do(seq=${row.seq})}" @리소스를 가리킴. 
-->
<input type="button" value="Write" id="btnWriteNewPost">
</body>
</html>